/* Global Styles */
/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #9e4ecc, #0b2169);
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

